<mat-card class="carta">
    <mat-card-title class="cosas">EEEPAAA, la página que estás intentando buscar...no se encuentra</mat-card-title>
    <mat-card-actions class="cosas">
        <button mat-button routerLink="/home">Home</button>
    </mat-card-actions>
    <mat-card-content class="cosas">
        <img  class="imagen" mat-card-image src="https://static.vecteezy.com/system/resources/previews/015/131/133/original/crossing-sign-error-404-png.png" alt="error">
    </mat-card-content>
</mat-card>
