.tituloDiv {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.titulo {
  margin: 0 auto;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

// Estilos para las cards
mat-card {
  // margin: 0px 10px 20px 10px; // Espacio alrededor de cada card (arriba, derecha, abajo, izquierda)
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}

// Estilos para el contenedor de las cards
div > div {
  display: flex;
  flex-wrap: wrap; // Permitir que las cards se envuelvan en múltiples líneas
  justify-content: space-between;
  padding: 0 20px; // Agregar espacio alrededor del contenedor de las cards
}

// Opcional: Estilos para el contenedor del título
h2 {
  margin-bottom: 20px;
}
