<!-- Formulario -->
<mat-form-field appearance="fill">
  <mat-label>Email</mat-label>
  <input matInput [(ngModel)]="email" type="email" placeholder="Email" />
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Password</mat-label>
  <input
    matInput
    [(ngModel)]="password"
    type="password"
    placeholder="Password"
  />
</mat-form-field>

<div class="example-button-row">
  <button mat-raised-button color="accent" (click)="loginUser()">
    Acceder
  </button>
</div>

<h3>Chuleta</h3>
<p>Correo: eve.holt&#64;reqres.in</p>
<p>Pass: 123456789</p>
